alabaster==0.7.12
amqp==2.3.2
anyjson==0.3.3
asn1crypto==0.24.0
Babel==2.6.0
billiard==3.5.0.4
braintree==3.49.0
celery==4.2.1
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
colorama==0.4.1
convertapi==1.1.0
cryptography==2.3.1
Django==2.1.1
django-embed-video==1.1.2
django-extensions==2.1.4
django-pandas==0.5.1
django-payments==0.13.0
docutils==0.14
graphviz==0.10.1
idna==2.7
imagesize==1.1.0
Jinja2==2.10
kombu==4.2.1
lxml==4.2.5
MarkupSafe==1.1.0
numpy==1.15.4
packaging==18.0
pandas==0.23.4
passlib==1.7.1
Pillow==9.0.0
pycparser==2.19
pydotplus==2.0.2
Pygments==2.3.0
PyJWT==1.6.4
pyparsing==2.3.0
python-dateutil==2.7.5
python-docx==0.8.7
pytz==2018.5
redis==3.0.1
reportlab==3.5.10
requests==2.19.1
scipy==1.1.0
six==1.11.0
snowballstemmer==1.2.1
sphinxcontrib-websupport==1.1.0
stripe==2.11.0
suds-jurko==0.6
tika==1.19
tqdm==4.28.1
urllib3==1.23
vine==1.1.4
xmltodict==0.11.0
