{% extends extend %}

{% load static %}

{% load tz %}

{% block body %}

        <!--==============================content================================-->
        <div class="content">
            <div class="container">
                <div class="row flex_reversed">
                    <div class="col-lg-2 col-md-1 col-sm-12">
                    </div>
                    <div class="col-lg-8 col-md-10 col-sm-12">
                        <div class="section">
                            
                            <div class="clearfix page_theme">
                                <div class="f_left">
                                    <div class="post_image_buttons">
                                        <div class="buttons_container">
                                            <a href="#" class="button banner_button travel">
                                                {% if request.session.lang == 'ar' %}
                                                    {{ article.get_field_ar_display }}
                                                {% else %}
                                                    {{ article.get_field_en_display }}
                                                {% endif %}
                                            </a>
                                        </div>
                                    </div>
                                    <div class="event_date" style="color:black">{{ article.publishing_date|timezone:'Asia/Riyadh' }}</div>
                                </div>
                                <div class="f_right event_info">
                                    
                                    <i class="fa fa-comments-o d_inline_m m_right_3"></i> 
                                    <span>{{ comment|length }} </span>
                                    <span style="padding:0 4px">|</span>
                                    <i class="fa fa fa-star-o d_inline_m m_right_3"></i> 
                                    <span>
                                        {% if not average.subscriber_rating__avg %}
                                            0
                                        {% else %}
                                            {{ average.subscriber_rating__avg }}
                                        {% endif %}
                                    </span>
                                    <span style="padding:0 4px">|</span>
                                    <i class="fa fa-eye d_inline_m m_right_3"></i> 
                                    <span>{{ article.number_of_views }}</span>
                                    
                                </div>
                            </div>
        
                            <h2 class="section_title section_title_medium_var2">
                                {% if request.session.lang == 'ar' %}
                                    {{ article.title_ar }}
                                {% else %}
                                    {{ article.title_en }}
                                {% endif %}
                            </h2>
                            <div class="text_post_block">
                                <div class="scale_image_container">
                                    <a href="#"><img src="{{ article.cover_image.url }}" alt="Cover Image" class="scale_image" width="750" height="375"></a>
                                </div>
                                <p>
                                    {% if request.session.lang == 'ar' %}
                                        {{ article.brief_of_article_ar }}
                                    {% else %}
                                        {{ article.brief_of_article_en }}
                                    {% endif %}
                                </p>
                            </div>

                            <br>
                           
                            <div class="text_post_block">
                                <h3 class="section_title section_title_small"></h3>
                                <p>
                                    {% if request.session.lang == 'ar' %}
                                        {{ article.context_ar|safe }}
                                    {% else %}
                                        {{ article.context_en|safe }}
                                    {% endif %}
                                </p>
                                
                                {% for media in multimedia %}
                                    
                                    {% if media.get_format_display == 'image' %}
                                        <img src="{{ media.content.url }}" alt="" class="full_article_image" width="750" height="375">
                                        <br/><br/>
                                    {% elif media.get_format_display == 'audio' %}
                                        <audio controls controlsList="nodownload" style="width:100%">
                                            <source src="{{ media.content.url }}" type="audio/mpeg">
                                            Your browser does not support the audio element.
                                        </audio>
                                        <br/><br/>
                                    {% else %}
                                        <video width="100%" controls>
                                            <source src="{{ media.content.url }}" type="video/mp4">
                                            Your browser does not support the video tag.
                                        </video>
                                        <br/><br/>
                                    {% endif %}
                                        
                                        
                                {% endfor %}
                                    
                            </div>
                                
                            <div class="section">
                                <h2 class="section_title">{{ about_writer }}</h2>
                
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 f_left">
                                        <img src="{{ writer_information.picture.url }}" alt="" height="165" width="165">
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9">
                                        <table class="table_type_1">
                                            <tbody>
                                                <tr class="f_size_large">
                                                    <th colspan="2">{{ writer_info }}</th>
                                                </tr>
                                                <tr>
                                                    <td>{{writer_information.writer_ID.first_name|add:' '|add:writer_information.writer_ID.last_name}}</td>
                                                    <td>{{writer_information.writer_ID.email}}</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        {% if request.session.lang == 'ar' %}
                                                            {{writer_information.get_specialty_ar_display}}
                                                        {% else %}
                                                            {{writer_information.get_specialty_en_display}}
                                                        {% endif %}
                                                    </td>
                                                    <td>{{writer_information.writer_ID.country}}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{writer_information.workplace}}</td>
                                                    <td>{{writer_information.writer_ID.city}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
            
                            <div class="section">
                                <h2 class="section_title">{{ comments_header }}</h2>
                                <ul class="comments">
                                
                                {% if comment %}
                                    {% for comment in comments %}
                                        <li>
                                            <div class="comment clearfix">
                                                <div>
                                                    <div><img src="{{ comment.subscriber_ID.picture.url }}" alt="" width="80" height="80"></div>
                                                </div>
                                                <div>
                                                    <div class="clearfix">
                                                        <a href="#"><h5 class="f_left">{{comment.subscriber_ID.subscriber_ID.first_name|add:' '|add:comment.subscriber_ID.subscriber_ID..last_name}}</h5></a>
                                                        <div class="event_date f_right">{{ comment.comment_date }}</div>
                                                    </div>
                                                    <p>{{ comment.comment_content }}</p>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}     
                                {% else %}
                                    <h2 class="center">{{ no_comments }}</h2>
                                {% endif %}
                                        
                                </ul>
                            </div>
                                                        
                        </div>        
                    </div>
                    <div class="col-lg-2 col-md-1 col-sm-12">
                    </div>
                </div>
            </div>
        </div>
      
      
       
    

{% endblock body %}
    


{% block script %}

{% endblock script %}