

{% extends 'scientificJournalism/base_component/revision.html' %}

{% load humanize %}

{% load static %}

{% block body %}

{% load tz %}


{% block extrastyle %}
    <style>
        .table_type_1 tr th{
            width: unset;
        }

        .nav_table_tab {
            width:33.333% !important; 
            cursor: pointer;
            background-color: #3498db ;
            border: 1px solid #1f74ad
        }

        .table_type_1.var2 tr .nav_table_tab:first-child{
            background-color: #1f74ad 
        }

        .table_header{
            background-color: #1f74ad !important;
            border: 1px solid #3498db;
            border-top: none
        }

        img{
            width: 100px;
            height: 100px;
        }

        .article_field{
            display: flex;
        }

        tr{
            vertical-align: middle;
        }

        tr td a {
            display: block;
            width: 100%;
            margin: 5px 0;
            height: 25px;
            font-size: large;
        }

        .reject_btn,.grap_btn{
            color: #a94442;
            background-color: #f2dede;
            border: 1px solid #ebccd1;
        }

        .accept_btn{
            color: #3c763d;
            background-color: #dff0d8;
            border: 1px solid #d6e9c6;
        }

        .btn{
            color: #31708f;
            background-color: #d9edf7;
            border: 1px solid #bce8f1;
        }

        #overlay {
            position: fixed;
            display: none;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5);
            z-index: 999;
            cursor: pointer;
        }

        #overlay_reject {
            position: fixed;
            display: none;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5);
            z-index: 999;
            cursor: pointer;
        }

        .close_btn{
            font-size: 40px;
            color: white;
            top: 10%;
            right: 10%;
            position: absolute;
        }

        .assigned_box {
            display: block;
            width: 60%;
            height: 65%;
            overflow-x: auto;
            margin: 9% auto;
            background-color: #fff;
        }

        .choose_field{

        }
        
        .btnxx {
            width: 110px;
            height: 40px;
            font-size: x-large;
        }
    </style>
{% endblock extrastyle %}
    <!--==============================Alert Messages=================================-->

    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <div class="container-fluid" id='alert' data-appear-animation="fadeInDown" data-appear-animation-delay="1150">
            <br/>
            <div class="alert center {{ message.tags }}">
              <a href="#" class="close" data-dismiss="alert">&times;</a>
              {{ message }}
            </div>
          </div>
        {% endfor %}
      </ul>
    {% endif %}
    

    <!--====================my articles=======================-->

    <div class="container">
        <div class="section_5">
            <table class="table_type_1 var2">
                <tbody style="text-align-last:center">
                    <tr class="f_size_large">
                        <th class="nav_table_tab" data-table="1"> مقالات جديدة ({{ submitted_articles|length }}) </th>
                        <th class="nav_table_tab" data-table="2"> مقالات تمت مراجعتها ({{ reviewed_articles|length }})</th>
                        <th class="nav_table_tab" data-table="3"> مقالات تحت المراجعة ({{ articles_uneder_reviewing|length }})</th>
                    </tr>
                </tbody>
            </table>

            <table class="table_type_1 var2 tableee tab__1">
                <tbody style="text-align-last:center">
                    <tr class="f_size_large">
                        <th class="table_header" colspan="2" style="background-color: #1f74ad; width: 43%">المقالة</th>
                        <th class="table_header" style="width:17%">منذ</th>
                        <th class="table_header" style="width:13%">المجال</th>
                        <th class="table_header" style="width:14%">الكاتب</th>
                        <th class="table_header" style="width:13%">القرار</th>
                    </tr>
                    
                    {% for article in submitted_articles %}
                        <tr>
                            <td colspan="2">
                                <div class="article_field">
                                    <img src="{{ article.cover_image.url }}" alt="" >
                                    <h3 style="margin:auto 8px"><a href="{% url 'show_new_EIC_article' article.article_ID %}" style="color:black">{{ article.title_ar }}</a> </h3>
                                </div>
                            </td>
                            <td><h4 style="direction: ltr">{{ article.submit_date|naturaltime }}</h4></td>
                            <td><h3 style="margin:auto 8px">{{ article.get_field_ar_display }}</h3></td>
                            <td><h4 style="margin:auto 8px">{{ article.writer_ID.writer_ID.first_name|add:' '|add:article.writer_ID.writer_ID.last_name }}</h4></td>
                            <td>
                                <a class="btn routation" id="{{ article.article_ID }}" href="#">توجيه</a>
                                <a href="{% url 'just_accept_article' article.article_ID %}" class="accept_btn">قبول</a>
                                <a href="#" class="reject_btn" data-article_ID="{{ article.article_ID }}">رفض</a>
                            </td>
                        </tr>
                    {% endfor %}
                    
                </tbody> 
            </table>

            <table class="table_type_1 var2 tableee tab__2" style="display:none">
                <tbody style="text-align-last:center">
                    <tr class="f_size_large">
                        <th class="table_header" colspan="2" style="background-color: #1f74ad; width: 40%">المقالة</th>
                        <th class="table_header" style="width:13%">المجال</th>
                        <th class="table_header" style="width:13%">المحرر</th>
                        <th class="table_header" style="width:13%">المراجع</th>
                        <th class="table_header" style="width:11%">توصية المحرر</th>
                        <th class="table_header" style="width:10%">القرار النهائي</th>
                    </tr>

                    {% for RA in reviewed_articles %} <!-- RA appriviation of Reviewed Article -->
                        <tr>
                            <td colspan="2">
                                <div class="article_field">
                                    <img src="{{ RA.article_ID.cover_image.url }}" alt="" >
                                    <h3 style="margin:auto 8px"><a href="{% url 'show_EIC_article' RA.article_ID.article_ID %}" style="color:black">{{ RA.article_ID.title_ar }}</a> </h3>
                                </div>
                            </td>
                            <td><h3 style="margin:auto 8px">{{ RA.article_ID.get_field_ar_display }}</h3></td>
                            <td><h4 style="margin:auto 8px"> {{ RA.AE_ID.AE_ID.EBM_ID.first_name|add:' '|add:RA.AE_ID.AE_ID.EBM_ID.last_name }}</h4></td>
                            <td><h4 style="margin:auto 8px">
                                
                                {% if RA.reviewer_ID %}
                                    {{ RA.reviewer_ID.reviewer_ID.first_name|add:' '|add:RA.reviewer_ID.reviewer_ID.last_name }}
                                {% else %}
                                    ---
                                {% endif %}
                                    
                                    
                            </h4></td>
                            <td><h4 style="margin:auto 8px">
                                
                                {% if RA.AE_recommendation == 'ACCEPT' %}
                                    أوصي بقبولها
                                {% else %}
                                    أوصي برفضها
                                {% endif %}
                                    
                            </h4></td>
                            <td>
                                <a href="{% url 'just_accept_article' RA.article_ID.article_ID %}" class="accept_btn">قبول</a>
                                <a href="#" class="reject_btn" data-article_ID="{{ RA.article_ID.article_ID }}">رفض</a>
                            </td>
                        </tr>
                    {% endfor %}
                            
                </tbody> 
            </table>

            <table class="table_type_1 var2 tableee tab__3" style="display:none">
                <tbody style="text-align-last:center">
                    <tr class="f_size_large">
                        <th class="table_header" colspan="2" style="background-color: #1f74ad; width: 38%">المقالة</th>
                        <th class="table_header" style="width:17%">تحت المراجع منذ</th>
                        <th class="table_header" style="width:13%">المجال</th>
                        <th class="table_header" style="width:11%">الحالة</th>
                        <th class="table_header" style="width:11%">المحرر / المراجع</th>
                        <th class="table_header" style="width:10%">سحب المقالة</th>
                    </tr>

                    {% for AUR in articles_uneder_reviewing %} <!-- AUR appriviation of Article under revision-->
                        <tr>
                            <td colspan="2">
                                <div class="article_field">
                                    <img src="{{ AUR.article_ID.cover_image.url }}" alt="" >
                                    <h3 style="margin:auto 8px"><a href="#" style="color:black; pointer-events: none; cursor: default;">{{ AUR.article_ID.title_ar }}</a> </h3>
                                </div>
                            </td>
                            <td><h4 style="direction: ltr">{{ AUR.assign_date|naturaltime }}</h4></td>
                            <td><h3 style="margin:auto 8px">{{ AUR.article_ID.get_field_ar_display }}</h3></td>
                            <td><h4 style="margin:auto 8px">{{ AUR.article_ID.get_article_status_ar_display }}</h4></td>
                            <td><h4 style="margin:auto 8px">
                                
                                {% if AUR.article_ID.article_status_ar in "ASSIGNED,REVIEWED" %}
                                    {{ AUR.AE_ID.AE_ID.EBM_ID.first_name|add:' '|add:AUR.AE_ID.AE_ID.EBM_ID.last_name }}
                                {% elif AUR.article_ID.article_status_ar == "WITH_REVIEWER" %}
                                    {{ AUR.reviewer_ID.reviewer_ID.first_name|add:' '|add:AUR.reviewer_ID.reviewer_ID.last_name }}
                                {% endif %}
                                    
                            </h4></td>
                            <td>
                                <a href="{% url 'grap_article' AUR.article_ID.article_ID %}" class="grap_btn">سحب</a>
                            </td>
                        </tr>
                    {% endfor %}
                    
                </tbody> 
            </table>
            
        </div>
    </div>


    <div id="overlay">
        <a href="#" class="close_btn">X</a>
        <div class="assigned_box">
            <div style="background-color:#3e454c; color:white; display: grid">
                <h2 style="text-align: center; padding: 5px; color: white">توجيه المقالة</h2>
                <p style="text-align: center; padding: 5px">يرجى الضغط على زر توجيه الذي يوجد أمام الشخص المناسب</p>  
                <input style=" padding: 5px; border:1px solid #1f74ad; width: 60%;margin: auto" class="form-control" id="myInput" type="text" placeholder=" بحث ..">
                <br>
            </div>
            
            <div>
                <table class="table_type_1 var2">
                    <thead>
                        <tr class="f_size_large">
                            <th style="width:55%">المحرر</th>
                            <th style="width:25%">المجال</th>
                            <th style="width:20%">اختيار</th>
                        </tr>
                    </thead>
                        
                    <tbody id="myTable">
                        
                        {% for AE in AE_list %}
                            <tr id="11">
                                <td id="22">
                                    <h3 class="writer_name">{{ AE.AE_ID.EBM_ID.first_name|add:' '|add:AE.AE_ID.EBM_ID.last_name }}</h3>
                                </td>
                                <td>
                                    <h3>{{ AE.AE_ID.get_specialty_ar_display }}</h3>
                                </td>
                                <td><input style="-webkit-appearance:radio; height: 20px;" class="choose_field" type="radio" name="writer_ID" value="{{ AE.AE_ID.EBM_ID.user_ID }}" required></td>
                            </tr>
                        {% endfor %}
                                
                            
                            
                    </tbody>
                </table>
            </div>

            <div style="padding:2px 20px; border-top: 2px solid black;">
                <h3 style="float: right;"> توجيه المقالة للمحرر : </h3><h3  style="float: right;" id="show_writer_name"></h3>
                <form style="float: left" method="POST" action="{% url 'assign_article' %}">
                    {% csrf_token %}
                    <input type="hidden" id='assind_article_ID' name='assind_article_ID' value="">
                    <button id="assign_article" name="assign_article" class=" btn btnxx" style="opacity: 0.5" type="submit" value="">توجيه</button>
                </form>
            </div>
        </div>
         
            
    </div>

    <div id="overlay_reject">
        <a href="#" class="close_btn">X</a>
        <div class="assigned_box">
            <div style="background-color:#3e454c; color:white; display: grid">
                <h2 style="text-align: center; padding: 5px; color: white">رفض المقالة</h2>
                <p style="text-align: center; padding: 5px">يرجى كتابة سبب رفض المقالة : </p>  
                <br>
            </div>
            
            <div style="padding:2px 20px; border-top: 2px solid black;">
                
                <form action="{% url 'reject_article' %}" method="POST">
                    {% csrf_token %}
                    <textarea style="width:100%; height: 50%; color: black; border: 3px solid #1f74ad" name="reason" placeholder="سبب الرفض"></textarea>
                    <button id="reject_article" class="btnxx" type="submit" name="article_ID" value="">إرسال</button>
                </form>
            </div>
        </div> 
    </div>

<br/>
<br/>
{% endblock body %}



  
{% block script %}
    
    <script>
        $( document ).ready(function() {
            $(".nav_table_tab").css("background-color", "#3498db")
            $(".nav_table_tab:first").css("background-color", "#1f74ad")
        });
    </script>
    
    <script>
        $(".nav_table_tab").click(function(){
            
            // css('background-color','#1077ad ');
            $(".nav_table_tab").css("background-color", "#3498db")
            $(this).css("background-color", "#1f74ad")
            var id = $(this).attr('data-table');
            $(".tableee").css('display','none')
            $(".tab__"+id).css('display','table')
        })
    </script>

    <script>
        $('.routation').click(function () {
            $('#overlay').css('display','block')
            $('#assign_article').disabled = true
            var article_id = $(this).attr('id')
            $('#assind_article_ID').attr('value',article_id)
        })
    </script>

    <script>
        $('.reject_btn').click(function () {
            var id = $(this).attr('data-article_ID')
            $('#overlay_reject').css('display','block')
            $('#reject_article').attr('value',id)
        })
    </script>

    <script>
        $('.close_btn').click(function() {
            $('#overlay').css('display','none');
            $('#overlay_reject').css('display','none');
            $('input[name="writer_ID"]').prop('checked', false);
            $('#myInput').val('');
            $('#show_writer_name').html('');
            $('#assign_article').css({'disabled':true,'opacity': 0.5})

        })
    </script>

    <script>
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
    </script>

    <script>
        $('.choose_field').click(function(){
            var name = $(this).parent().parent().children().children().html()
            $('#show_writer_name').html(name)
            $('#assign_article').css({'opacity': 1})
            $('#assign_article').disabled = false

            var AE_id = $(this).attr('value')
            $('#assign_article').attr('value',AE_id)
        })
    </script>

{% endblock script %}


